* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  padding: 0 20px;
  background: #ebebeb;
  max-width: 1440px;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: black 1px 1px 4px 2px;
  text-indent: 1em;
  gap: 20px;
}

.product {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
