* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  padding: 0 20px;
  background: #ebebeb;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.games-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.total,
#name,
.game-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: black 1px 1px 6px 1px;
  text-transform: capitalize;
  padding: 5px 10px;
}
